.cart .cart__top {
  background: #505763;
  color: #fff;
  padding: 3em 12em;
}

.cart .cart__top h3 {
  font-size: 2.1rem;
  font-weight: normal;
}

.cart .cart__info {
  padding: 3em 12em;
  display: flex;
}

.cart .cart__info .cart__items {
  flex: 1;
  padding: 0 20px;
}

.cart .cart__info .cart__items .cart__itemsnumber {
  font-size: 20px;
  font-weight: 400;
}
