.searchcard {
  display: flex;
  margin-top: 0%;
  padding: 20px 50px;
  flex-direction: row;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid #dcdacb;
}

.searchcard__image {
  position: relative;
  border: 1px solid #dcdacb;
  border-radius: 4px;
  overflow: hidden;
}
.searchcard__image img {
  height: 100%;
  width: 100%;
}

.searchcard__image .searchcard__imageWrapper {
  transition: all 150ms ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.01);
}

.searchcard:hover .searchcard__imageWrapper {
  background-color: rgba(0, 0, 0, 0.1);
}

.searchcard__info {
  padding: 0px 20px;
  width: 950px;
}

.searchcard__info h3 {
  font-weight: 700;
  font-size: 1rem;
  color: #3c3b37;
  margin-bottom: -0.1em;
}

.searchcard__info h4 {
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: -0.1em;
  margin-top: 0.3em;
}
.searchcard__info small {
  font-size: 0.72rem;
  color: #73726c;
  display: inline-block;
  margin-bottom: 0.5em;
}

.searchcard__info .bestSeller {
  margin-top: 0.5em;
}

.searchcard__starContainer {
  display: flex;
}
.searchcard__starContainer .searchcard__rating {
  color: #593d00;
}
.searchcard__starContainer .searchcard__star {
  font-size: 0.7rem;
  margin-right: 0.5em;
  margin-left: 0.3em;
  margin-top: 0.2em;
}
.searchcard__starContainer .searchcard__noBuys {
  font-size: 0.8rem;
  color: #73726c;
  margin-top: 0.2em;
}

.searchcard__price .searchcard__currentPrice {
  color: #3c3b37;
}
.searchcard__price .searchcard__originalPrice {
  margin-left: 0.5em;
  color: #73726c;
  text-decoration: line-through;
  font-size: 0.85rem;
}
