.form {
  border-radius: 6px;
  color: #29303b;
  width: 380px;
  margin: auto;
  max-width: 100%;
}
.form .form__content {
  padding: 24px 24px 16px 16px;
}

.form .form__content .google_Oauth {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  box-shadow: 0 2px 2px 0 rgb(41 48 59 / 24%), 0 0 2px 0 rgb(41 48 59 / 12%);
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #dedfe0;
  cursor: pointer;
}

.form .form__content .google_Oauth button {
  padding: 17px 0px 15px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #29303b;
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.form .form__footer {
  display: block;
  padding: 0 0 24px;
  text-align: center;
}
.form .form__footer .form__link {
  font-weight: 700;
}

.form a {
  color: #007791;
  background-color: transparent;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.form__header {
  border-bottom: solid 1px #dedfe0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #000000;
  display: block;
  font-weight: 700;
  font-size: 15px;
  padding: 50px 64px 24px 24px;
}

.form__input {
  z-index: 1;
}

.form__input input {
  margin-bottom: 8px;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  line-height: 1.43;
  color: #29303b;
  background-color: #fff;
  background-image: none;
  border: 1px solid #8a92a3;
  border-radius: 5px;
  padding: 11px 45px 12px 40px;
}

.form__input input:focus {
  outline: none;
  border: 1px solid #01aacf;
  box-shadow: inset 0 0 1px #01aacf;
}

.form__input img {
  position: absolute;
}

.google__icon {
  width: 25px;
  z-index: 2;
  vertical-align: middle;
  margin: 0px 0px 5px 15px;
}

.google__icon img {
  position: absolute;
}

.form__icon {
  width: 15px;
  transform: translate(13px, 15px);
  z-index: 2;
}

.form__button {
  margin: 0 0 16px;
  text-align: center;
}

.form__button button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 48px;
  margin-bottom: 16px;
  width: 100%;
  color: #fff;
  background-color: #ec5252;
  border: none;
}

.form__button button:hover {
  background-color: #c74b4b;
}

.form .error {
  width: 80%;
  width: 340px;
  margin-bottom: 10px;
  background: #faebeb;
}
.form .error p {
  color: #521822;
  font-weight: 400;
  padding: 13px;
}
